
/* 3.5 price section*/
.pricing .price-item{
	width: 31.5%;
	height: 450px;
	text-align: center;
	position: relative;
}
.price-item > span{
	text-transform: uppercase;
	display: inline-block;
	margin: 40px auto 20px;
}
.price{
	width: 140px;
	height: 140px;
	border: 2px solid var(--main-color);
	border-radius: 50%;
	margin: 0px auto;
	text-align: center;
	position: relative;
	line-height: 140px;
}
.price > h3{
	position: absolute;
	margin: 0px;
	top: 30%;
	left: 0px;
	right: 0px;
	font-size: 42px;
	color: #10161A;
}
.price span{
	font-size: 14px;
	text-transform: uppercase;
	display: block;
}
.price-item li{
	display:block;
	margin :15px auto;
}
.outline-btn{
	padding: 12px 35px;
	border:2px solid var(--main-color);
	border-radius: 3px;
	background:transparent;
	color: var(--main-color);
	font-size: 16px;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
}
.price-item:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background-color: #1C1D21;
	z-index: -1;
	height: 0%;
	transition: 0.2s height;
}
.price-item:hover:after{
	height: 100%;

}
.price-item:hover .price-title{
	color: var(--main-color);

}
.price-item:hover .price > h3{
	color: #fff;
}